.header{
	font-family:Garamond;
	font: 23px;
	display: flex;
	align-items: justify;
}
.headcol {
	flex:2;
	padding: 6px;
}
	
#contact {
	margin-top: 80px;
	font-size: 15px;
	letter-spacing: 2px;
	line-height: 80px;
	margin-left: 60px;
}
.firstcol{
	font-family:Garamond;
	font-size: 16px;
	display: flex;
	width: 100%;
	column-gap: 50px;
}
.col {
	flex:1;
	padding:2px;
	margin-top: -8px;
}

table {
	float: center;
	margin-top: -155px;
	margin-left: 690px;
}
.listcol {
	letter-spacing: 1px;
	line-height:20px;
}
.listcol2 {
	letter-spacing:2px;
	line-height:25px;
}

#idpic {
	border-radius: 50%;
	border: 1px solid black;
	border-color:brown;
	margin-bottom: 30px;
	margin-top: -10px;
	width:200px;
	height:200x;
}
#fname {
	font-weight: lighter;
	font-size: 30px;
	letter-spacing: 10px;
	margin-top: -5px;
}
#lname {
	font-weight:bolder;
	font-size: 35px;
	margin-top: -20px;
	letter-spacing: 3px;
}
body {
	margin-left: 30px;
	margin-right: 30px;
}
#tborder {
	border-top: 20px black solid;
	border-top-color: #b99976;
	margin-bottom:10px;
}
#bborder {
	border-bottom: 20px black solid;
	border-bottom-color: #b99976;
	margin-top:10px;
}
#intern {
	text-align:;
	font-family:Garamond;
	letter-spacing: 2px;
	margin-left: 58px;
	margin-top: -15px;
}
.about {
	font-size: 16px;
	margin-top: -5px;
	letter-spacing: 3px;
}
#aboutme {
	margin-top: -8px;
	text-align:left;
	margin-right: 30px;
}
.gap1 {
	border-top: 5px black solid;
	border-top-color: #b99976;
	margin-bottom: -12px;
	
}
.gap2 {
	border-top: 3px black solid;
	border-top-color: #b99976;
	margin-bottom: -12px;
	width:100%;
}

#icon{
	margin-bottom: -7px;
}
#drop {
	background:#954535;
	color: white;
	padding: 10px;
	border-radius: 5%;
	text-decoration:none;
}
	